.layout{
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 0 45px 60px;
    min-height: calc(100vh - 85px);
}